<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.how2j.springcloud.mapper.NoticeMapper">
  <resultMap id="BaseResultMap" type="cn.how2j.springcloud.pojo.Notice">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="isDelete" jdbcType="INTEGER" property="isDelete" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="nr" jdbcType="VARCHAR" property="nr" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, isDelete, name, nr, time
  </sql>
  <select id="selectByExample" parameterType="cn.how2j.springcloud.pojo.NoticeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from t_notice
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_notice
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_notice
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.how2j.springcloud.pojo.Notice" useGeneratedKeys="true">
    insert into t_notice (isDelete, name, nr, 
      time)
    values (#{isDelete,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{nr,jdbcType=VARCHAR}, 
      #{time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.how2j.springcloud.pojo.Notice" useGeneratedKeys="true">
    insert into t_notice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="isDelete != null">
        isDelete,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="nr != null">
        nr,
      </if>
      <if test="time != null">
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="nr != null">
        #{nr,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.how2j.springcloud.pojo.Notice">
    update t_notice
    <set>
      <if test="isDelete != null">
        isDelete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="nr != null">
        nr = #{nr,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.how2j.springcloud.pojo.Notice">
    update t_notice
    set isDelete = #{isDelete,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      nr = #{nr,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--<select id="search" parameterType="cn.how2j.springcloud.pojo.Notice" resultMap="BaseResultMap">-->
    <!--SELECT-->
    <!--<include refid="Base_Column_List" />-->
    <!--from t_notice-->
    <!--<where>-->
      <!--<if test="isDelete != null">-->
        <!--and isDelete = #{isDelete,jdbcType=INTEGER}-->
      <!--</if>-->
      <!--<if test="name != null and name !=''">-->
        <!--and name LIKE CONCAT('%',#{name,jdbcType=VARCHAR},'%')-->
      <!--</if>-->
    <!--</where>-->
    <!--ORDER BY id DESC-->
  <!--</select>-->

  <select id="search" parameterType="cn.how2j.springcloud.pojo.Notice" resultType="cn.how2j.springcloud.pojo.Notice">
    SELECT id,isDelete,name,nr,time
    from t_notice
    <where>
      <if test="isDelete != null">
        and isDelete = #{isDelete,jdbcType=INTEGER}
      </if>
      <if test="name != null and name !=''">
        and name LIKE CONCAT('%',#{name,jdbcType=VARCHAR},'%')
      </if>
    </where>
    ORDER BY id DESC
  </select>

  <select id="get" parameterType="java.lang.Integer" resultType="cn.how2j.springcloud.pojo.Notice">
    select *
    from t_notice
    where
    id = #{id}
  </select>
</mapper>